<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Message Form">
    <meta name="author" content="Yellow">
    <title>Message</title>

    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}" />
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">

  </head>
  <body class="bg-light">
    <div style="text-align:right;width:400px">
       <form method="post">
	 <div class="form-group">
	   <label>I'm</label>
	   <input type="text" class="form-control-lg" name="who" placeholder="name">
	 </div>
	 <div class="form-group">
	   <label>Message:</label>
	   <input type="text" class="form-control-lg" name="msg" placeholder="content">
	 </div>
	 <button type="submit" class="btn btn-primary">Send</button>
       </form>
     </div>
  </body>
  <script src="{{url_for('static',filename='bootstrap.bundle.min.js')}}"></script>
</html>
